.auth-wrapper {
  width: 100vw;
  height: calc(100vh - 78px);
  margin-top: 78px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth-btns {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  background-color: #f3f3f3;
  border-radius: 6px;
  padding: 4px;
  margin-bottom: 10px;

  button {
    cursor: pointer;
    padding: 6px 0;
    width: 204px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
    background-color: #f3f3f3;
    color: #919191;

    &:hover {
      background-color: #d1d1d1;
      color: #fff;
    }
  }

  .active-button {
    background-color: #ffffff;
    color: #333333;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.06);
  }
}

.auth-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border: 1px solid #f3f3f3;
  border-radius: 12px;
  box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.06);

  h3 {
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 18px;
    color: #000000e1;
  }

  p {
    font-size: 14px;
    color: #737373;
  }

  .auth-inputs {
    margin-top: 10px;
    display: flex;
    flex-direction: column;

    span {
      font-size: 15px;
      font-weight: 600;
      margin-top: 20px;
      color: #000000e1;
    }

    .error-span {
      margin-top: 4px;
      color: rgb(255, 108, 108);
      font-size: 14px;
      font-weight: 400;
    }

    input {
      width: 100%;
      padding: 12px 10px;
      border: 1px solid #e4e4e4;
      background-color: white;
      color: #737373;
      border-radius: 8px;
      margin-top: 6px;
      font-size: 14px;
      transition: all 0.3s ease-in-out;

      &:focus {
        outline: none;
        background-color: #f0f0f0;
      }

      &:hover {
        background-color: #f0f0f0;
      }
    }
  }
  button {
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: #b471c5;
    color: white;
    padding: 14px 0;
    font-weight: 600;
    margin: 20px 0 0;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #9e40b6;
    }

    &:active {
      background-color: #b471c5ce;
    }
  }

  .disabled-btn {
    cursor: default;
    background-color: #737373;

    &:hover {
      background-color: #737373;
    }
  }

  .server-error {
    font-size: 12px;
    color: rgb(255, 108, 108);
  }
}
