@import 'header.scss';
@import 'nav.scss';
@import 'courses.scss';
@import 'auth.scss';
@import 'coursepreview.scss';
@import 'settings.scss';
@import 'coursepart.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  // font-family: 'Inter', serif;
  font-family: 'Noto Sans', serif;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  display: flex;
  flex-direction: row;
}

.content {
  width: calc(100vw - 255px);
  overflow-y: auto;
  padding: 24px;
  margin-left: 255px;
  margin-top: 78px;
}

.course-part-content {
  width: calc(100vw - 305px);
  margin-left: 305px;
  padding: 0;
}

.notfoundpage {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 14px;

  h1 {
    font-size: 148px;
    color: #cb91d9;
  }

  p {
    font-size: 16px;
    color: #737373;
    margin-bottom: 8px;
  }

  button {
    cursor: pointer;
    padding: 14px 50px;
    border-radius: 8px;
    border: none;
    background-color: #e0e0e0;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: #c4c4c4;
    }
    &:active {
      background-color: #f0f0f0;
    }
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
