@import 'header.scss';
@import 'nav.scss';
@import 'courses.scss';
@import 'auth.scss';
@import 'coursepreview.scss';
@import 'settings.scss';
@import 'coursepart.scss';
@import 'review.scss';
@import 'teacherpage.scss';
@import 'myprogress.scss';
@import 'teachercoursedetails.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  // font-family: 'Inter', serif;
  font-family: 'Noto Sans', serif;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  display: flex;
  flex-direction: row;
}

.content {
  width: calc(100vw - 255px);
  overflow-y: auto;
  padding: 24px;
  margin-left: 255px;
  margin-top: 78px;
}

.course-part-content {
  width: calc(100vw - 305px);
  margin-left: 305px;
  padding: 0;
}

.notfoundpage {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 14px;

  h1 {
    font-size: 148px;
    color: #cb91d9;
  }

  p {
    font-size: 16px;
    color: #737373;
    margin-bottom: 8px;
  }

  button {
    cursor: pointer;
    padding: 14px 50px;
    border-radius: 8px;
    border: none;
    background-color: #e0e0e0;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: #c4c4c4;
    }
    &:active {
      background-color: #f0f0f0;
    }
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.markdown-body {
  color: #333;
  line-height: 1.6;
  padding: 20px;

  li {
    margin-left: 28px;
  }

  p {
    text-align: justify;
    margin: 10px 0;
    font-size: 16px;
    color: #555;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 20px 0 15px;
    font-weight: bold;
    color: #222;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.75em;
  }

  h4 {
    font-size: 1.5em;
  }

  h5 {
    font-size: 1.25em;
  }

  h6 {
    font-size: 1em;
  }

  blockquote {
    border-left: 4px solid #007bff;
    padding-left: 15px;
    color: #666;
    font-style: italic;
    margin: 20px 0;
  }

  code {
    background-color: #eef;
    padding: 2px 4px;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
  }

  pre {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 4px;
    overflow: auto;
  }
  a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
      color: #0056b3;
      transition: color 0.3s ease;
    }

    &:visited {
      color: #6c757d;
    }

    &:active {
      color: #0056b3;
    }
  }
}
